@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-primary: #fff;
  --color-font-details: #ff3900;
  --color-details-black: #000;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-primary);
  font-family: "Montserrat", sans-serif !important;
  font-size: 62.5% !important;
  width: 100%;
  height: 100%;
}

::selection {
  background-color: #ff3900;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

section {
  height: 100%;
}

main {
  background-color: var(--bg-color-primary);
}
.container-header {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1390px + 3rem);
  width: 100%;
}
.section {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 70px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  background-color: var(--bg-color-primary);
  backdrop-filter: blur(0.7rem);
  z-index: 1000;
  max-width: 100dvw !important;
  & nav {
    display: flex;
    align-items: center;
    column-gap: 72px;
    & .logoHeader {
      & h2 {
        font-size: 2.8rem;
        font-weight: 500;
      }
      & img {
        width: 175px;
      }
    }
    & ul {
      display: flex;
      list-style: none;
      column-gap: 33px;
      & li {
        font-size: 17px;
        font-weight: 500;
        color: #0c0c0c;
        padding: 4px 0;
        cursor: pointer;
        &:hover {
          color: var(--color-font-details);
          transition: 300ms ease;
        }
        & a {
          margin-bottom: 0.5rem;
          &:hover {
            border-bottom: 3px solid var(--color-font-details);
          }
        }
      }
    }
  }
  & #perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 17px;
    & ul {
      list-style: none;
      display: flex;
      column-gap: 3.3rem;
      & li {
        font-size: 17px;
        font-weight: 500;
        color: #0c0c0c;
        padding: 4px 0;
        cursor: pointer;
        & a {
        }
      }
    }
  }
}
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 100vh;
  & .col1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    & h1 {
      text-transform: uppercase;
      color: #0c0c0c;
      font-size: 102px;
      font-weight: 900;
      letter-spacing: -4.59px;
      line-height: 93.33px;
      margin: 0 0 20px;
    }
    & h3 {
      color: #2b2b2b;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 30px;
    }
    & .button-hero {
      display: flex;
      align-items: center;
      column-gap: 15px;
      & button {
        text-transform: uppercase;
        letter-spacing: normal;
        letter-spacing: normal;
        border: none;
        line-height: 1;
        font-size: 25px;
        padding: 20px 42px;
        border-radius: 45px;
        &:first-child {
          font-family: "Poppins", sans-serif;
          background-color: #ff3900;
          color: #fff;
          font-weight: 900;
          letter-spacing: -1px;
        }
        &:last-child {
          font-family: "Montserrat", sans-serif;
          border: 2px solid #ff3900;
          background-color: #fff;
          color: #ff3900;
          font-weight: 700;
        }
      }
    }
  }
  & .col2 {
    display: flex;
    position: relative;
    top: -4rem;
    & .box {
      transition: transform 0.1s linear;
      transform: translateY(-50px);
      width: 20rem;
      height: 50rem;
      z-index: 2000;
      margin-right: 12rem;
      & ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: relative;
        row-gap: 5.5rem;
        left: -34rem;
        top: -20rem;
        & li {
          transform: rotate(33.377deg);
          transform-origin: 50%;
          max-width: 420px;
          & .paralaxBoxMid {
            transform: rotate(300deg);
            transform-origin: 50%;
            max-width: 420px;
          }
          & img {
            object-fit: contain;
            width: 400px;
          }
        }
        & .detail {
          position: absolute;
          left: 36rem;
          top: 40%;

          & img {
            width: 107px;
            height: 37px;
          }
          & .detailTitle {
            margin-left: 5rem;
            margin-top: 2rem;
            & h2 {
              font-size: 27px;
              font-weight: 900;
              margin-bottom: 10px;
            }
            & p {
              text-wrap: nowrap;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
#novidades {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 28px; /* 28rem = 280px */
  & .tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-size: 65px;
      font-weight: 900;
    }
    p {
      font-size: 19px;
      font-weight: 700;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
  }

  .container {
    margin-top: 50px; /* 5rem = 50px */
    display: flex;
    grid-template-columns: repeat(
      auto-fit,
      minmax(160px, 1fr)
    ); /* 16rem = 160px */
    gap: 20px; /* 2rem = 20px */

    .card {
      &:nth-child(1) .box .icon .iconBox {
        background: #ff3900;
      }
      &:nth-child(2) .box .icon .iconBox {
        background: #ff3900;
      }
      &:nth-child(3) .box .icon .iconBox {
        background: #ff3900;
      }
      & .button-hero {
        display: flex;
        align-items: center;
        column-gap: 15px;
        & button {
          text-transform: uppercase;
          letter-spacing: normal;
          letter-spacing: normal;
          border: none;
          line-height: 1;
          font-size: 16px;
          padding: 12px 24px;
          border-radius: 30px;
          &:first-child {
            font-family: "Poppins", sans-serif;
            background-color: #ff3900;
            color: #fff;
            font-weight: 900;
            letter-spacing: -1px;
          }
          &:last-child {
            font-family: "Montserrat", sans-serif;
            border: 2px solid #ff3900;
            background-color: #fff;
            color: #ff3900;
            font-weight: 700;
          }
        }
      }

      .content {
        padding: 9.38px 6.25px; /* 0.938rem = 9.38px, 0.625rem = 6.25px */

        h3 {
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 900;
          letter-spacing: -0.75px;
        }

        p {
          margin: 6.25px 0 12.5px; /* 0.625rem = 6.25px, 1.25rem = 12.5px */
          color: #0c0c0c;
          font-size: 16px;
        }
      }
    }

    .card-inner {
      position: relative;
      width: inherit;
      height: 187.5px; /* 18.75rem = 187.5px */
      background: var(--clr);
      border-radius: 12.5px; /* 1.25rem = 12.5px */
      border-bottom-right-radius: 0;
      overflow: hidden;

      .box {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 12.5px; /* 1.25rem = 12.5px */
        overflow: hidden;

        .imgBox {
          position: absolute;
          inset: 0;
          background-color: #ff3900;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .icon {
          position: absolute;
          bottom: -3.75px; /* -0.375rem = -3.75px */
          right: -3.75px; /* -0.375rem = -3.75px */
          width: 60px; /* 6rem = 60px */
          height: 60px; /* 6rem = 60px */
          background: var(--clr);
          border-top-left-radius: 50%;

          &:hover .iconBox {
            transform: scale(1.1);
          }

          &::before {
            position: absolute;
            content: "";
            bottom: 3.75px; /* 0.375rem = 3.75px */
            left: -12.5px; /* -1.25rem = -12.5px */
            background: transparent;
            width: 12.5px; /* 1.25rem = 12.5px */
            height: 12.5px; /* 1.25rem = 12.5px */
            border-bottom-right-radius: 12.5px; /* 1.25rem = 12.5px */
            box-shadow: 3.13px 3.13px 0 3.13px #fff; /* 0.313rem = 3.13px */
          }

          &::after {
            position: absolute;
            content: "";
            top: -12.5px; /* -1.25rem = -12.5px */
            right: 3.75px; /* 0.375rem = 3.75px */
            background: transparent;
            width: 12.5px; /* 1.25rem = 12.5px */
            height: 12.5px; /* 1.25rem = 12.5px */
            border-bottom-right-radius: 12.5px; /* 1.25rem = 12.5px */
            box-shadow: 3.13px 3.13px 0 3.13px var(--clr); /* 0.313rem = 3.13px */
          }

          .iconBox {
            position: absolute;
            inset: 6.25px; /* 0.625rem = 6.25px */
            background: #282828;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            span {
              color: #fff;
              font-size: 15px; /* 1.5rem = 15px */
            }
          }
        }
      }
    }
  }
}
#resenhas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 28px; /* 28rem = 280px */
  margin-bottom: 40px;
  & .tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      text-transform: uppercase;
      letter-spacing: 0.025em;
      font-size: 65px;
      font-weight: 900;
    }
    p {
      font-size: 19px;
      font-weight: 700;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
  }

  .container {
    margin-top: 50px; /* 5rem = 50px */
    display: flex;
    grid-template-columns: repeat(
      auto-fit,
      minmax(160px, 1fr)
    ); /* 16rem = 160px */
    gap: 20px; /* 2rem = 20px */
    align-items: center;
    .card {
      width: 360px;
      &:nth-child(1) .box .icon .iconBox {
        background: #ff3900;
      }
      &:nth-child(2) .box .icon .iconBox {
        background: #ff3900;
      }
      &:nth-child(3) .box .icon .iconBox {
        background: #ff3900;
      }
      & .button-hero {
        display: flex;
        align-items: center;
        column-gap: 15px;
        & button {
          text-transform: uppercase;
          letter-spacing: normal;
          letter-spacing: normal;
          border: none;
          line-height: 1;
          font-size: 16px;
          padding: 12px 24px;
          border-radius: 30px;
          &:first-child {
            font-family: "Poppins", sans-serif;
            background-color: #ff3900;
            color: #fff;
            font-weight: 900;
            letter-spacing: -1px;
          }
          &:last-child {
            font-family: "Montserrat", sans-serif;
            border: 2px solid #ff3900;
            background-color: #fff;
            color: #ff3900;
            font-weight: 700;
          }
        }
      }

      .content {
        padding: 9.38px 6.25px; /* 0.938rem = 9.38px, 0.625rem = 6.25px */

        h3 {
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 900;
          letter-spacing: -0.75px;
        }

        p {
          margin: 6.25px 0 12.5px; /* 0.625rem = 6.25px, 1.25rem = 12.5px */
          color: #0c0c0c;
          font-size: 16px;
        }
      }
    }
    & .seeMore {
      font-size: 18px;
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
      padding: 10px;
      border-radius: 12.5px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      height: max-content;
      cursor: pointer;
    }

    .card-inner {
      position: relative;
      width: inherit;
      height: 187.5px; /* 18.75rem = 187.5px */
      background: var(--clr);
      border-radius: 12.5px; /* 1.25rem = 12.5px */
      border-bottom-right-radius: 0;
      overflow: hidden;

      .box {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 12.5px; /* 1.25rem = 12.5px */
        overflow: hidden;

        .imgBox {
          position: absolute;
          inset: 0;
          background-color: #000;
          padding: 10px;
          color: #fff;
          & h3 {
            font-size: 18px;
            margin-bottom: 8px;
            text-transform: uppercase;
            font-weight: 900;
            text-wrap: nowrap;
          }
          & p {
            font-size: 16px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .icon {
          position: absolute;
          bottom: -3.75px;
          right: -3.75px;
          width: 60px;
          height: 60px;
          background: var(--clr);
          border-top-left-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover .iconBox {
            transform: scale(1.1);
          }
          & img {
            width: 50px;
          }
          &::before {
            position: absolute;
            content: "";
            bottom: 3.75px; /* 0.375rem = 3.75px */
            left: -12.5px; /* -1.25rem = -12.5px */
            background: transparent;
            width: 12.5px; /* 1.25rem = 12.5px */
            height: 12.5px; /* 1.25rem = 12.5px */
            border-bottom-right-radius: 12.5px; /* 1.25rem = 12.5px */
            box-shadow: 3.13px 3.13px 0 3.13px #fff; /* 0.313rem = 3.13px */
          }

          &::after {
            position: absolute;
            content: "";
            top: -12.5px; /* -1.25rem = -12.5px */
            right: 3.75px; /* 0.375rem = 3.75px */
            background: transparent;
            width: 12.5px; /* 1.25rem = 12.5px */
            height: 12.5px; /* 1.25rem = 12.5px */
            border-bottom-right-radius: 12.5px; /* 1.25rem = 12.5px */
            box-shadow: 3.13px 3.13px 0 3.13px var(--clr); /* 0.313rem = 3.13px */
          }

          .iconBox {
            position: absolute;
            inset: 6.25px; /* 0.625rem = 6.25px */
            background: #282828;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            span {
              color: #fff;
              font-size: 15px; /* 1.5rem = 15px */
            }
          }
        }
      }
    }
  }
}

#sabor {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px; /* 5rem = 50px */
  & .headerSabor {
    display: flex;
    align-items: center;
    flex-direction: column;
    & h2 {
      color: #0c0c0c;
      font-size: 60px; /* 6rem = 60px */
      font-weight: 900;
      letter-spacing: -3.9px;
      line-height: 86.5%;
      margin: 0 0 23px;
      text-transform: uppercase;
    }
    & p {
      font-size: 18px; /* 1.8rem = 18px */
      font-weight: 700;
    }
  }
  & .sabores {
    & ul {
      display: flex;

      list-style: none;
      & li {
        width: 300px; /* 30rem = 300px */
        background: var(--bg-color-primary);
        border: 2px solid #d4d4d4;
        border-radius: 20px;
        margin: 35px 1.33% 0 0;
        padding: 40px 18px 50px;
        row-gap: 15px; /* 1.5rem = 15px */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: 200ms ease;
        &:hover {
          border-color: var(--color-font-details);
        }
        & img {
          height: 150px; /* 15rem = 150px */
          margin-bottom: 20px; /* 2rem = 20px */
          width: 150px; /* 15rem = 150px */
        }
        & div {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 10px; /* 1rem = 10px */

          & .valor {
            font-size: 28px; /* 2.8rem = 28px */
            font-weight: 500;
            color: var(--color-font-details);
          }
          & .tipo {
            font-size: 23px; /* 2.3rem = 23px */
            font-weight: 800;
            letter-spacing: -0.75px;
            text-transform: uppercase;
            font-weight: 900;
          }
          & .caracteristicas {
            font-size: 16px; /* 1.6rem = 16px */
            text-align: center;
          }
        }
        & button {
          background: #0c0c0c;
          border-radius: 50px;
          color: var(--bg-color-primary);
          border: 2px solid var(--color-font-details);
          font-size: 15px; /* 1.5rem = 15px */
          font-weight: 900;
          letter-spacing: -0.6px;
          line-height: 1;
          margin: 0;
          min-height: auto;
          padding: 8px 10px;
          text-transform: uppercase;
          transition: all 0.5s ease;
          border: none;
          padding: 6px 18px; /* 0.6rem = 6px, 1.8rem = 18px */
          cursor: pointer;
          transition: 400ms ease;
          &:hover {
            background-color: var(--color-font-details);
          }
        }
      }
    }
  }
}

#escolhas {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  & .headerSabor {
    display: flex;
    align-items: center;
    flex-direction: column;
    & h2 {
      color: #0c0c0c;
      font-size: 60px; /* 6rem = 60px */
      font-weight: 900;
      letter-spacing: -3.9px;
      line-height: 86.5%;
      margin: 0 0 23px;
      text-transform: uppercase;
    }
    & p {
      font-size: 18px; /* 1.8rem = 18px */
      font-weight: 700;
    }
  }
  .escolhasBody {
    display: grid;
    grid-template-columns: repeat(3, 33rem);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 8rem;
    padding: 8rem 0;
    & .boxCookie {
      width: 32rem;
      height: 38rem;
      border-radius: 2.5rem;
      position: relative;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 4px 1px #ddd;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      & .header {
        display: flex;
        align-items: baseline;
        justify-content: end;
        height: 15rem;
        & img {
          width: 24rem;
          object-fit: contain;
          position: absolute;
          top: -4rem;
          left: -5rem;
          filter: drop-shadow(5px 5px 6px rgba(45, 45, 45, 0.336));
        }
        & .boxAvaliation {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          position: absolute;
          right: 2rem;
          top: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 0.5rem;
          border: 1px solid #ddd;
          box-shadow: 0px 0px 4px 1px #ddd;
          background-color: #ff3900;
          color: #fff;
          padding: 0.8rem 1.2rem;
          border-radius: 1.5rem;
          & i {
            font-size: 2.5rem;
            color: #fff;
          }
          & .avaliation {
            font-size: 1.8rem;
            font-weight: 500;
            color: #fff;
          }
        }
      }
      & .title {
        & h3 {
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: -2px;
          height: 4rem;
        }
        & p {
          font-size: 1.6rem;
        }
      }
      & .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        & .valor {
          display: flex;
          column-gap: 15px; /* 1.5rem = 15px */
          align-items: center;

          & .preco {
            font-size: 28px; /* 2.8rem = 28px */
            font-weight: 500;
            color: var(--color-font-details);
          }
          & button {
            padding: 0px 5px; /* 0rem 0.5rem = 0px 5px */
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 6px; /* 0.6rem = 6px */
            border-radius: 30px; /* 3rem = 30px */
            font-size: 18px; /* 1.8rem = 18px */
            background-color: transparent;
            border: 2px solid #aaa;
            transition: 200ms ease;
            & svg {
              cursor: pointer;
              &:hover {
                fill: var(--color-font-details);
              }
            }
          }
          & .valores {
            font-size: 18px; /* 1.8rem = 18px */
          }
        }
        & .add {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          background-color: #ff3900;
          padding: 0.8rem 1.2rem;
          border-radius: 1.5rem;
          border: 1px solid #ddd;
          box-shadow: 0px 0px 4px 1px #ddd;
          cursor: pointer;
          & p {
            font-size: 1.8rem;
            font-weight: 600;
            color: #fff;
          }
          & svg {
            fill: #fff;
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        & .price {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          & svg {
            fill: #0c0c0c;
            width: 2.8rem;
            height: 2.8rem;
          }
        }

        & .valuePromotion {
          font-size: 1.8rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          & svg {
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        & .promotionCard {
          display: flex;
          align-items: center;
          justify-content: center;
          row-gap: 0.5rem;
          flex-direction: column;
          position: relative;
        }
        & .valueBefore {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          background-color: #ff3900;
          padding: 0.8rem 1.2rem;
          border-radius: 1.5rem;
          border: 1px solid #ddd;
          box-shadow: 0px 0px 4px 1px #ddd;
          color: #fff;
          position: absolute;
          bottom: -5rem;
          rotate: 350deg;
          color: #fff;
          & svg {
            fill: #fff;
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        & .promotion {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.5rem;
          background-color: #0c0c0c;
          padding: 0.8rem 1.2rem;
          border-radius: 1.5rem;
          border: 1px solid #ddd;
          box-shadow: 0px 0px 4px 1px #ddd;
          color: #fff;
          & svg {
            fill: #fff;
            width: 2.8rem;
            height: 2.8rem;
          }
        }
        & .promotionDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 1rem;
          position: absolute;
          right: -1rem;
          top: -2rem;
          & p {
            font-size: 1.8rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: -2px;
            font-weight: 900;
            padding: 0.8rem 1.2rem;
            border-radius: 1.5rem;
            background-color: #0c0c0c;
            box-shadow: 3px 4px 5px 0px #ddd;
            rotate: 350deg;
          }
        }
      }
    }
  }
  & .total {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px; /* 1.5rem = 15px */
    letter-spacing: -1px;
    background-color: #b3b3b3;
    width: max-content;
    color: var(--bg-color-primary);
    border-radius: 50px; /* 5rem = 50px */
    align-self: center;
    & a {
      font-size: 28px; /* 2.8rem = 28px */
      font-weight: 900;
    }
  }
}
#sobre {
  & .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 140px 50px 140px; /* 0rem 14rem 5rem 14rem = 0px 140px 50px 140px */
    column-gap: 100px; /* 10rem = 100px */
    & img {
      width: 450px; /* 45rem = 450px */
      height: 450px; /* 45rem = 450px */
      object-fit: contain;
      border-radius: 50px; /* 5rem = 50px */
      box-shadow: 4px 4px 30px -10px #b7b7b7;
    }
    & .detalhesSobre {
      & h2 {
        font-size: 50px; /* 5rem = 50px */
        font-weight: 900;
        letter-spacing: -2.1px;
        text-transform: uppercase;
      }
      & p {
        font-size: 19px; /* 1.9rem = 19px */
      }
    }
  }
  & .container1:last-child {
    margin-bottom: 50px; /* 5rem = 50px */
  }
}

#localizacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & h2 {
    color: #0c0c0c;
    font-size: 60px; /* 6rem = 60px */
    font-weight: 900;
    letter-spacing: -3.9px;
    line-height: 86.5%;
    margin: 0 0 23px;
    text-transform: uppercase;
  }
  #map {
    height: 400px; /* 40rem = 400px */
    width: 100%;
    & .adress {
      width: 28px; /* 28rem = 280px */
      z-index: 999;
      position: absolute;
      right: 100px; /* 10rem = 100px */
      top: 20px; /* 2rem = 20px */
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding: 5px; /* 0.5rem = 5px */
      row-gap: 10px; /* 1rem = 10px */
      border-radius: 15px; /* 1.5rem = 15px */
      background: rgb(247 247 247 / 26%);
      backdrop-filter: blur(7px); /* 0.7rem = 7px */
      & img {
        object-fit: contain;
        width: 100%;
        border-radius: 15px; /* 1.5rem = 15px */
      }
      & .endereco {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px; /* 1rem = 10px */
        & svg {
          width: 60px; /* 6rem = 60px */
          height: 60px; /* 6rem = 60px */
          fill: var(--color-font-details);
        }
        & p {
          font-size: 16px; /* 1.6rem = 16px */
          font-weight: 500;
        }
      }
      & .funcionamento {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px; /* 1rem = 10px */
        & svg {
          width: 25px; /* 2.5rem = 25px */
          height: 25px; /* 2.5rem = 25px */
          fill: var(--color-font-details);
        }
        & p {
          font-size: 16px; /* 1.6rem = 16px */
          font-weight: 500;
        }
      }
      & .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px; /* 1rem = 10px */
        & svg {
          width: 25px; /* 2.5rem = 25px */
          height: 25px; /* 2.5rem = 25px */
          fill: var(--color-font-details);
        }
        & p {
          font-size: 16px; /* 1.6rem = 16px */
          font-weight: 500;
        }
      }
      & button {
        background: #0c0c0c;
        border-radius: 50px;
        color: var(--bg-color-primary);
        border: 2px solid var(--color-font-details);
        font-size: 16px; /* 1.6rem = 16px */
        font-weight: 900;
        letter-spacing: -0.6px;
        line-height: 1;
        margin: 0;
        min-height: auto;
        padding: 8px 10px;
        text-transform: uppercase;
        transition: all 0.5s ease;
        border: none;
        padding: 6px 16px; /* 0.6rem 1.6rem = 6px 16px */
        cursor: pointer;
        transition: 400ms ease;
        align-self: center;
        &:hover {
          background-color: var(--color-font-details);
        }
      }
    }
  }
}
main {
  height: 100%;
  padding: 2rem 0 0 0;
}
.divLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 4px 1px #ddd;
  background-color: #fff;
  width: 35rem;
  height: max-content;
  padding: 2rem;
  position: fixed; /* Altere de absolute para fixed */
  left: 50%;
  top: 37rem; /* Use top para centralizar na tela */
  transform: translate(-50%, -50%);
  z-index: 20000000;
  row-gap: 3rem;
  & p {
    font-size: 2rem;
    font-weight: 500;
  }
  & .divQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & .yes {
      background-color: #0c0c0c;
      color: #fff !important;
      font-weight: 700;
      font-size: 1.8rem;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
      box-shadow: 0px 0px 4px 1px #ddd;
      border-radius: 1.5rem;
      cursor: pointer;
      & svg {
        fill: #fff;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
    & .not {
      background-color: #ff3900;
      color: #fff !important;
      font-weight: 700;
      font-size: 1.8rem;
      padding: 0.8rem 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
      box-shadow: 0px 0px 4px 1px #ddd;
      border-radius: 1.5rem;
      cursor: pointer;
      & svg {
        fill: #fff;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}
.blur {
  font-size: 62.5% !important;
  filter: blur(3px) contrast(0.8);
}
#pagar {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px; /* 10rem 20rem = 100px 200px */
  margin-top: 8rem;
  & .valor {
    display: flex;
    column-gap: 15px; /* 1.5rem = 15px */
    align-items: center;

    & .preco {
      font-size: 28px; /* 2.8rem = 28px */
      font-weight: 500;
      color: var(--color-font-details);
    }
    & button {
      padding: 0px 5px; /* 0rem 0.5rem = 0px 5px */
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 6px; /* 0.6rem = 6px */
      border-radius: 30px; /* 3rem = 30px */
      font-size: 18px; /* 1.8rem = 18px */
      background-color: transparent;
      border: 2px solid #aaa;
      transition: 200ms ease;
      & svg {
        cursor: pointer;
        &:hover {
          fill: var(--color-font-details);
        }
      }
    }
    & .valores {
      font-size: 18px; /* 1.8rem = 18px */
    }
  }
  & .voltar {
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: baseline;
    margin-bottom: 50px; /* 5rem = 50px */

    & a {
      font-size: 23px; /* 2.3rem = 23px */
      font-weight: 600;
    }
  }
  & .containerPedido {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 50px; /* 5rem = 50px */
    & h1 {
      font-size: 60px; /* 6rem = 60px */
      align-self: baseline;
      font-weight: 800;
      letter-spacing: -1.5px;
    }
    & h2 {
      font-size: 35px; /* 3.5rem = 35px */
      font-weight: 700;
      letter-spacing: -1.5px;
    }
    & p {
      font-size: 20px; /* 2rem = 20px */
      font-weight: 500;
    }
    & .container1 {
      width: 100%;
      row-gap: 50px;
      display: flex;
      flex-direction: column;

      & .details {
        display: flex;
        justify-content: space-between;
        & ul {
          list-style: none;
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 2rem;
          & li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .preco {
              display: flex;
              align-items: center;
              column-gap: 15px;
              & button {
                all: unset;
                padding: 0.8rem 1.2rem;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 1rem;
                & svg {
                  border: 1px solid #0c0c0c;
                  border-radius: 1.5rem;
                  width: 2.8rem;
                  height: 2.8rem;
                }
              }
              & .total {
                font-size: 20px;
              }
            }
          }
        }
      }
      & .valorFrete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -40px;
        & h2 {
          font-size: 25px;
          font-weight: 500;
        }
        & p {
          font-size: 20px;
          font-weight: 400;
        }
      }
      & .valorTotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      & .addPayment {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
          font-size: 30px;
          border-radius: 45px;
          background-color: #000;
          color: #fff;
          font-weight: 700;
          padding: 20px;
        }
      }
    }
  }
}

footer {
  background-color: var(--color-details-black);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: 40px 60px;

  & div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .logoFooter {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 30px;
    & h2 {
      color: var(--bg-color-primary);
      font-size: 28px;
      margin-bottom: 60px;
      border-bottom: 3px solid var(--bg-color-primary);
    }

    & .logoFooterHeader {
      display: flex;
      align-items: baseline;
      row-gap: 35px;
      & p {
        font-size: 18px;
        color: var(--bg-color-primary);
        text-wrap: nowrap;
        & span {
          font-weight: 600;
        }
      }
    }
    & .redesFooter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 35px;
      & i {
        color: var(--bg-color-primary);
        font-size: 24px;
        transition: 300ms ease;
        &:hover {
          color: var(--color-font-details);
        }
      }
    }
  }
  & .informacoesFooter {
    & h2 {
      color: var(--bg-color-primary);
      font-size: 28px;
      margin-bottom: 35px;
      border-bottom: 3px solid var(--bg-color-primary);
    }
    & .row {
      column-gap: 80px;
      display: flex;
      flex-direction: row;
      & ul {
        list-style: none;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
        & li {
          font-size: 18px;
          color: var(--bg-color-primary);
          transition: 400ms ease;
          & a {
            text-decoration: none;
            color: inherit;
          }
          &:hover {
            color: var(--color-font-details);
          }
        }
      }
    }
  }
  & .contatoFooter {
    & .headerForm {
      display: flex;
      align-items: baseline;
      width: 580px;
      & h2 {
        color: var(--bg-color-primary);
        font-size: 28px;
        margin-bottom: 60px;
        border-bottom: 3px solid var(--bg-color-primary);
        & span {
          color: #ff3900;
        }
      }
    }
    & .submitEmailFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 580px;
      border-radius: 35px;
      background-color: var(--bg-color-primary);
      padding: 5px 25px;
      & #emailFooter {
        font-size: 18px;
        border: none;
        outline: none;
      }
      & .submitEmail {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        & svg:first-child {
          transform: scale(2);
          margin-right: -30px;
        }
        & svg:last-child {
          transform: scale(2);
          margin-right: 19.5px;
          transition: 400ms ease;
          &:hover {
            margin-right: 0;
            margin-left: 19.5px;
          }
        }
      }
    }
  }
}
.visible {
  position: fixed;
  bottom: 250px; /* 25rem = 250px */
  background-color: #000 !important;
}

#galeria {
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding: 0 25px;
  & .headerSearch {
    margin: 135px 0 130px 0;
    position: sticky;
    top: 20px;
    & h2 {
      color: #0c0c0c;
      font-size: 60px;
      font-weight: 900;
      letter-spacing: -3.9px;
      line-height: 86.5%;
      margin: 0 0 23px;
      text-transform: uppercase;
    }
    & p {
      font-size: 19px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    & .searchInputFilter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 15px;
      & .filter {
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px #a3a3a3;
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 25px;
        cursor: pointer;
        & svg {
          fill: #555;
        }
      }
      & .searchInput {
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px #a3a3a3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        padding: 10px 20px;
        border-radius: 50px;
        width: 100%;
        & svg {
          fill: #555;
        }
        & #searchInput {
          all: unset;
          width: 100%;
        }
      }
    }
  }
  & .exemploEncomenda {
    position: absolute;
    top: 110px;
    right: 60px;
    display: flex;
    column-gap: 20px;
    & .img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      & img {
        position: relative;
        right: 160px;
        top: -30px;
      }
      & p {
        width: 38rem;
        font-size: 1.6rem;
      }
    }
  }
  & #produtosSearch {
    & .headerSabor {
      display: flex;
      align-items: center;
      flex-direction: column;
      & h2 {
        color: #0c0c0c;
        font-size: 60px; /* 6rem = 60px */
        font-weight: 900;
        letter-spacing: -3.9px;
        line-height: 86.5%;
        margin: 0 0 23px;
        text-transform: uppercase;
      }
      & p {
        font-size: 18px; /* 1.8rem = 18px */
        font-weight: 700;
      }
    }
    & .total {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px; /* 1.5rem = 15px */
      letter-spacing: -1px;
      background-color: #b3b3b3;
      width: max-content;
      color: var(--bg-color-primary);
      border-radius: 50px; /* 5rem = 50px */
      align-self: center;
      & p {
        font-size: 28px; /* 2.8rem = 28px */
        font-weight: 900;
      }
    }
  }
}
#about {
  padding: 0 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .textAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    & h2 {
      color: #0c0c0c;
      font-size: 60px;
      font-weight: 900;
      letter-spacing: -3.9px;
      line-height: 86.5%;
      margin: 0 0 23px;
      text-transform: uppercase;
    }
    & p {
      margin: 6.25px 0 12.5px;
      color: #0c0c0c;
      font-size: 18px;
      width: 1000px;
      text-align: justify;
    }
  }
}

.none {
  display: none !important;
}
.hidden {
  overflow: hidden !important;
}
