<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Agenda</title>

    {% block head %} {% endblock %}
  </head>
  <div id="divLogout" class="divLogout none">
    <img src="../static/assets/logo.svg" alt="" />
    <p>Deseja sair da sua conta?</p>
    <div class="divQuestion">
      <p href="" class="not" id="not">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
          />
        </svg>
        Cancelar
      </p>
      <a href="{{ url_for('logout') }}" class="yes" id="yes">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="m382-354 339-339q12-12 28-12t28 12q12 12 12 28.5T777-636L410-268q-12 12-28 12t-28-12L182-440q-12-12-11.5-28.5T183-497q12-12 28.5-12t28.5 12l142 143Z"
          />
        </svg>
        Sair
      </a>
    </div>
  </div>
  <body>
    <!-- ESTE with RETORNA MENSAGENS DE ERROS E AVISOS FLASH, AVISOS DE LOGIN, CADASTROS E LOGOUT -->
    <!-- {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="error">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480.33-303.08q7.59 0 13.02-5.44 5.42-5.44 5.42-13.21v-179.39q0-7.32-5.48-12.79-5.48-5.47-12.82-5.47-7.78 0-13.2 5.47-5.42 5.47-5.42 12.79v179.39q0 7.77 5.45 13.21 5.45 5.44 13.03 5.44Zm-.44-271.38q10.34 0 16.92-6.47 6.57-6.48 6.57-16.81 0-10.34-6.47-16.91-6.47-6.58-16.8-6.58-10.34 0-16.92 6.47-6.57 6.47-6.57 16.81 0 10.33 6.47 16.91t16.8 6.58Zm.29 448.31q-73.39 0-138.06-27.89t-112.51-75.69q-47.84-47.81-75.65-112.29-27.81-64.48-27.81-137.8 0-73.39 27.89-138.06t75.69-112.51q47.81-47.84 112.29-75.65 64.48-27.81 137.8-27.81 73.39 0 138.06 27.89t112.51 75.69q47.84 47.8 75.65 112.29 27.81 64.48 27.81 137.8 0 73.39-27.89 138.06t-75.69 112.51q-47.8 47.84-112.29 75.65-64.48 27.81-137.8 27.81Zm-.21-36.93q132.3 0 224.63-92.3 92.32-92.3 92.32-224.59 0-132.3-92.3-224.63-92.3-92.32-224.59-92.32-132.3 0-224.63 92.3-92.32 92.3-92.32 224.59 0 132.3 92.3 224.63 92.3 92.32 224.59 92.32ZM480-480Z"
          />
        </svg>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}  -->
    {% block body %} {% endblock %}
  </body>
  <script src="{{url_for('static', filename='js/logout.js')}}"></script>
</html>
