<header class="container-header">
  <nav id="navation">
    <div class="logoHeader"></div>
    <ul>
      {% if current_user.is_authenticated %}
          {% if current_user.is_admin %}
              <li><a href="{{url_for('admin')}}">Admin</a></li>
              <li><a href="{{url_for('agenda')}}">Agenda</a></li>
          {%else%}
              <li><a href="{{url_for('homepage')}}">Início</a></li>
          {%endif%}
     {% endif %}
    </ul>
  </nav>
  <div id="perfil">
    <ul>
      {% if current_user.is_authenticated %}
      <li id="logout">Logout</li>
      {% else %}
      <li><a href="{{url_for('login')}}">Login</a></li>
      <li><a href="{{url_for('criarconta')}}">Criar conta</a></li>
      {% endif %}
    </ul>
  </div>
</header>
